<tr>
  <th>{{inde}}</th>
  <th>{{@contact.name}}</th>
  <th>{{@contact.mobileno}}</th>
  <th>{{@contact.email}}</th>
  <th ><button class="btn btn-xs btn-success " style="font-family:Comic Sans MS" onclick={{action @edit @contact}} ><span class="glyphicon glyphicon-pencil"></span></button>
    <button class="btn btn-xs btn-danger " style="font-family:Comic Sans MS" onclick={{action @delete @contact}} ><span class="glyphicon glyphicon-trash"></span></button>
  </th>
</tr>
